.logo_link {
    background: url('../../imgs/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block; /*inline nao manipula nem width nem height*/
    height: 4rem;
    width: 7.5rem;
}

@media screen and (max-width: 1024px){

    .logo_link {
        height: 3.2rem;
        width: 6.0rem;
    }
}